
<div class="row forms">
        <div class="col s12 m12">
          <div class="card white">
            <div class="card-content">
              <h1>New Movie</h1>

              <%= render 'form' %>
            </div>
            <div class="card-action">
              <%= link_to 'Back', movies_path %>
            </div>
          </div>
        </div>
      </div>