@import "materialize/components/color";
@import "materialize";

body {
	background-color: #fbc02d ;
}

.forms {
	padding-top: 5%;
	padding-bottom: 5%;

}

.cent {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

